<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://kit.fontawesome.com/b795e2adc4.js" crossorigin="anonymous"></script> 
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>
      <header>
            

    <h1><a href="/">RETR</a><i class="fa-solid fa-spin fa-compact-disc"></i><a href="/">great</a></h1>
    
            <nav>
			<ul>
				<li><a href="submit" style="background: #ffebed;"><i style="background: #ff4154;" class="fa-solid fa-camera"></i> Friends</a></li>
				<li><a href="submit" style="background: #ffebed;"><i style="background: #ff4154;" class="fa-solid fa-camera"></i> Recipies</a></li>
				<li> <a href="submit" style="background: #ffebed;"><i style="background: #ff4154;" class="fa-solid fa-camera"></i> Home improvements</a></li>
                {{#if logged_in}}  
				<li><a href="profile" style="background: #ffebed;"><i style="background: #ff4154;" class="fa-solid fa-camera"></i> My Profile</a></li>
                <li><a href="submit" style="background: #ffebed;"><i style="background: #ff4154;" class="fa-solid fa-camera"></i> chat</a></li>
                <li><a href="logout" style="background: #ffebed;"><i style="background: #ff4154;" class="fa-solid fa-camera"></i> Logout</a></li>
                {{else}}
                <li> <a href="Login" style="background: #ffebed;"><i style="background: #ff4154;" class="fa-solid fa-camera"></i> Login</a></li>
                 {{/if}}
			</ul>
		</nav>
    </header> 
    <main>
      

    

    
      
          
            <div class="post__create">
            {{{body}}} 
            </div>   
   </main>
     {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>

