<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retro Great</title>
 
  <script src="https://kit.fontawesome.com/b795e2adc4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="background-image">

  </div>
  <header>
    <h1 class="title"><a class="logo" href="/">RETR</a><i class="spin fa-solid fa-spin fa-compact-disc"></i><a class="logo"
        href="/">great</a></h1>

    <nav>
      <ul>

        <li class="btn"><a href="submit"><i class="fa-solid fa-user-group fa-beat" style="color: #000000;"></i>-Friends</a></li>
        
        <li class="btn"> <a href="submit"><i class="fa-solid fa-hammer fa-beat"></i>-Home improvements</a></li>
        {{#if logged_in}}
        <li class="btn"><a href="profile"><i class="fa-solid fa-user fa-beat" style="color: #000000;"></i>-My Profile</a></li>
        <li class="btn"><a href="submit"><i class="fa-brands fa-rocketchat fa-beat" style="color: #000000;"></i>-chat</a></li>
        <li class="btn"><a href="logout"><i class="fa-solid fa-right-to-bracket fa-beat" style="color: #000000;"></i>-Logout</a></li>
        {{else}}
        <li class="btn"> <a href="Login"><i class="fa-solid fa-right-to-bracket fa-beat" style="color: #000000;"></i>-Login</a></li>

        {{/if}}
      </ul>
    </nav>
    
  </header>
  <main>
    {{{body}}}
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</body>  
</html>

