<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
 
  <script src="https://kit.fontawesome.com/b795e2adc4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="background-image">

  </div>
  <header>
    <h1><a class="logo" href="/">RETR</a><i class="fa-solid fa-spin fa-compact-disc"></i><a class="logo"
        href="/">great</a></h1>

    <nav>
      <ul>
        <li class="btn"><a href="submit">Friends</a></li>
        <li class="btn"><a href="submit">Recipies</a></li>
        <li class="btn"> <a href="submit"> Home improvements</a></li>
        {{#if logged_in}}
        <li class="btn"><a href="profile">My Profile</a></li>
        <li class="btn"><a href="submit">chat</a></li>
        <li class="btn"><a href="logout">Logout</a></li>
        {{else}}
        <li class="btn"> <a href="Login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
    
  </header>
  <main>
    {{{body}}}
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
</body>  
</html>

