<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>  
    <script src="https://kit.fontawesome.com/b795e2adc4.js" crossorigin="anonymous"></script>  
</head>
<body>
    <header class="flex flex-row flex-wrap mx-auto bg-lime-600">
        <h1 class="p-4 my-4 mx-auto"><a href="/" class="text-5xl font-mono">RETR</a><i class="fa-solid fa-spin fa-compact-disc text-5xl"></i><a href="/" class="text-4xl font-mono italic font-bold text-red-300">great</a>
        </h1>
    </header> 

    <main class="grid ">  
        <aside class="flex flex-wrap bg-orange-200 p-2">     
            <div class="flex flex-wrap mx-auto"> 
                <div class="p-2 font-mono flex flex-wrap ">
                    <button class="text-orange-100 font-bold rounded-lg bg-lime-600 hover:bg-gray-700 shadow-lg shadow-gray-700 p-2 " type="submit">Friends</button>
                </div>
                <div class="p-2 items-center font-mono flex flex-wrap">
                    <button class="text-orange-100 font-bold rounded-lg bg-lime-600 hover:bg-gray-700 shadow-lg shadow-gray-700 p-2 " type="submit">Recipes</button>
                </div>       
                <div class="p-2 items-center font-mono flex flex-wrap">
                    <button class="text-orange-100 font-bold rounded-lg bg-lime-600 hover:bg-gray-700 shadow-lg shadow-gray-700 p-2 " type="submit">Home Improvements</button>
                </div>    
                {{#if logged_in}}   
                <div class="p-2 items-center font-mono flex flex-wrap">
                    <a href="/profile" class="text-orange-100 font-bold rounded-lg bg-lime-600 hover:bg-gray-700 shadow-lg shadow-gray-700 p-2 " >My Profile</a>
                </div>    
                <div class="p-2 items-center font-mono flex flex-wrap">
                    <button class="text-orange-100 font-bold rounded-lg bg-lime-600 hover:bg-gray-700 shadow-lg shadow-gray-700 p-2 " type="submit">Chat</button>                    
                </div>    
                <div class="p-2 items-center font-mono flex flex-wrap">
                    <button class="no-button text-orange-100 font-bold rounded-lg bg-lime-600 hover:bg-gray-700 shadow-lg shadow-gray-700 p-2" id="logout">Logout</button>                    
                </div> 
                {{else}}
                <div class="p-2 items-center font-mono flex flex-wrap">
                    <a href="/login" class="text-orange-100 font-bold rounded-lg bg-lime-600 hover:bg-gray-700 shadow-lg shadow-gray-700 p-2 ">Login</a>                    
                </div> 
                 {{/if}}
            </div>            
        </aside>  

        

        {{{body}}}
      
               
   </main>
     {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>

