<div class="form-container">
<h1>Welcome to the retro great chat room!</h1>

<ul id="messages">
  {{#each messages as |message|}}
  <li>{{format_date message.created_at}}  {{message.created_time}} <br> {{message.user.name}}: {{message.message}}</li>
  {{/each}}
</ul>

<form id="form">
  <input id="input" autocomplete="off" />
  <button>Send</button>
</form>
</div>
<script src="/js/chat.js"></script> 