      <form class="form edit-form">

        <div class="form-group">
          <label for="edit-text"></label>
          <textarea class="form-input" id="edit-text" name="edit-text">{{post_text}}</textarea>
        </div>
        <p id="img"><img src="{{img}}"></img></p>

        <p id="profile_img"><img class="image" src="{{profile_img}}"></img></p>    
        
        <div class="form-group">
          <button id="edit-btn" type="submit" class="btn">Update Post</button>  
        </div>
        <p id="edit-id">{{id}}</p>
      </form>

   <script src="/js/edit.js"></script>

