
<div class="edit-form-container">

  <form class="edit-form">

    <div class="edit-text-container">
      <label for="edit-textarea" class="edit-text-label">Post Content:</label>

      <textarea class="edit-textarea" id="edit-text" name="edit-text">{{post_text}}</textarea>

    </div>

    <div class="edit-img-container">
      <p class="edit-img-text"></p>
      <img class="edit-img" src="{{img}}"></img>
    </div>

    <div class="edit-profile-img-container">
      <p class="edit-profile-img-text"></p>
      <img class="edit-profile-img" src="{{profile_img}}"></img>
    </div>

    <div class="edit-btn-container">
      <button id="edit-btn" type="submit" class="edit-submit-btn">Update Post</button>
    </div>


    <p id="edit-id">{{id}}</p>

  </form>

</div>


   <script src="/js/edit.js"></script>

