  <div id="login-card" class="py-2 mx-auto md:mx-40 md:px-10">
    <div class="flex flex-wrap flex-col m-5 border-2 border-gray-500 shadow-lg shadow-current rounded">
      <div class="flex flex-wrap flex-col bg-gray-500">
        <div class="px-4 py-2 mx-auto">
          <h2 class="text-xl text-orange-200 font-bold font-mono">Login</h2>
        </div>
      </div>  

    <form class="form login-form p-4 bg-red-200">
      <div class="form-group p-2">
        <label for="email-login" class="font-mono">email:</label>
        <input class="form-input p-3 border-2 border-black w-full" type="text" id="email-login" />
      </div>
      <div class="form-group p-2">
        <label for="password-login" class="font-mono">password:</label>
        <input class="form-input p-3 border-2 border-black w-full" type="password" id="password-login" />
      </div>
      <div class="form-group p-2 flex flex-wrap">
        <button class="btn btn-primary font-mono text-white rounded-lg bg-gray-500 hover:bg-gray-700 mx-auto mt-4 p-4" type="submit">login</button>
      </div>
    </form>
  </div>
</div>  

<div id="signup-card" class="py-2 mx-auto md:mx-40 md:px-10">
    <div class="flex flex-wrap flex-col m-5 border-2 border-gray-500 shadow-lg shadow-current rounded">
      <div class="flex flex-wrap flex-col bg-gray-500">
        <div class="px-4 py-2 mx-auto">
          <h2 class="text-xl text-orange-200 font-bold font-mono">Signup</h2>        
        </div>
        <div class="px-4 py-2 mx-auto"> 
          <p class="font-mono">(must be 45 or older)</p>
        </div>
      </div>  

    <form class="form signup-form p-4 bg-red-200">
      <div class="form-group">
        <label for="name-signup" class="font-mono">name:</label>
        <input  class="form-input p-3 border-2 border-black w-full"  type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="font-mono">email:</label>
        <input  class="form-input p-3 border-2 border-black w-full"  type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="font-mono">password:</label>
        <input  class="form-input p-3 border-2 border-black w-full"  type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="birthdate-signup" class="font-mono">birthdate:</label>
        <input  class="form-input p-3 border-2 border-black w-full"  type="date" id="birthdate-signup" name="birthdate"/>
      </div>
      <div class="form-group p-2 flex flex-wrap">
         <button class="btn btn-primary font-mono text-white rounded-lg bg-gray-500 hover:bg-gray-700 mx-auto mt-4 p-4" type="submit">signup</button>
      </div>
    </form>
  </div>
  </div>
</div>


<script src="./js/login.js"></script>
